<table class="table table-sm table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Account</th>  
        <th scope="col">Username</th>  
        <th scope="col">Balance</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>
          <a class="btn btn-link" href="{{account.url}}" target="_blank">
            {{account.account_name}}
          </a>
        </td>
        <td>{{account.username}}</td>
        <td>€{{account.balance}}</td>
      </tr>
    </tbody>
  </table>