<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <h5 class="card-title">{{race.race_fullname}}</h5>
                      <p class="card-text">A {{race.type}} over {{race.distance}} on the {{race.course}} course for {{race.age_limit}}.</p>
                    </div>
                </div>
            </div>
        </div>
        <app-entries></app-entries>
    </div>
</div>