<div class="py-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
      <div class="form-group form-inline races-search col-sm">
        <input class="form-control" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div>
    <div class="form-group col-sm">
      <button class="btn btn-info float-right" data-toggle="modal" data-target="#addRaceModalCenter">Add Race</button>
      <button class="btn btn-info float-right grade1s" routerLink="/irishg1s">Irish G1s</button>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>
        <div class="row" *ngIf="!isLoading && hasRaces">
            <div class="col-md-6" *ngFor="let race_ of races$ | async">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <img class="card-img-top" src="../../assets/images/{{race_.race_name}}.jpg" onerror='this.style.display = "none"'>
                      <h5 class="card-title race-card-title"><ngb-highlight [result]="race_.race_fullname | shorten" [term]="service.searchTerm"></ngb-highlight></h5>
                      <p class="card-text">A <ngb-highlight [result]="race_.type" [term]="service.searchTerm"></ngb-highlight> over <ngb-highlight [result]="race_.distance" [term]="service.searchTerm"></ngb-highlight> 
                        on the <ngb-highlight [result]="race_.course" [term]="service.searchTerm"></ngb-highlight> course for <ngb-highlight [result]="race_.age_limit" [term]="service.searchTerm"></ngb-highlight>.</p>
                      <a routerLink="/races/{{race_.race_name}}" class="btn btn-info">Go to race</a>
                      <button class="btn btn-link update-link float-right" (click)="onClickUpdate(race_.id)" data-toggle="modal" id="{{race_.id}}" data-target="#updateRaceModalCenter"><i class="fa fa-edit"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
  
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="40">40 items per page</option>
        <option [ngValue]="60">60 items per page</option>
        <option [ngValue]="80">80 items per page</option>
        <option [ngValue]="100">100 items per page</option>
      </select>
    </div>
</div>
    
  <!-- Add Race Modal -->
  <div class="modal fade" id="addRaceModalCenter" tabindex="-1" role="dialog" aria-labelledby="addRaceModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRaceModalCenterTitle">Add Race</h5>
          <button type="button" class="close" #closeRaceAdd data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" *ngIf="error">
                <p>{{ error }}</p>
           </div>
           <form #raceForm="ngForm" (ngSubmit)="onSubmit(raceForm)">
               <div class="form-group">
                   <label for="race_name">Race Name</label>
                   <input 
                       type="text" 
                       id="race_name" 
                       class="form-control"
                       ngModel
                       name="race_name">
               </div>
               <div class="form-group">
                <label for="race_fullname">Full Race Name</label>
                <input 
                    type="text" 
                    id="race_fullname" 
                    class="form-control"
                    ngModel
                    name="race_fullname"
                    required>
              </div>
              <div class="form-group">
                <label for="type">Type</label>
                <input 
                    type="text" 
                    id="type" 
                    class="form-control"
                    ngModel
                    name="type"
                    required>
              </div>
               <div class="form-group">
                   <label for="grade">Grade</label>
                   <input 
                       type="text" 
                       id="grade" 
                       class="form-control"
                       ngModel
                       name="grade"
                       required>
               </div>
               <div class="form-group">
                <label for="distance">Distance</label>
                <input 
                    type="text" 
                    id="distance" 
                    class="form-control"
                    ngModel
                    name="distance"
                    required>
                </div>
                <div class="form-group">
                  <label for="course">Course</label>
                  <input 
                      type="text" 
                      id="course" 
                      class="form-control"
                      ngModel
                      name="course"
                      required>
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                  <input 
                      type="text" 
                      id="country" 
                      class="form-control"
                      ngModel
                      name="country"
                      required>
                </div>
                <div class="form-group">
                  <label for="age_limit">Age Limit</label>
                  <input 
                      type="text" 
                      id="age_limit" 
                      class="form-control"
                      ngModel
                      name="age_limit"
                      required>
                </div>
                <div class="form-group">
                  Attended:
                  <label for="yes">
                    <input 
                      type="radio" 
                      id="yes"
                      class="attended-radio" 
                      value="true"
                      ngModel
                      name="attended"
                      required>
                    Yes
                  </label>
                  <label for="no">
                    <input 
                    type="radio" 
                    id="no"
                    class="attended-radio"
                    value="false"
                    ngModel
                    name="attended"
                    required>
                    No
                  </label>
                </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-info" type="submit" [disabled]="!raceForm.valid">Add Race</button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Update Race Modal -->
<div class="modal fade" id="updateRaceModalCenter" tabindex="-1" role="dialog" aria-labelledby="updateRaceModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateRaceModalCenterTitle">Update Race</h5>
          <button type="button" class="close" #closeRaceUpdate data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" *ngIf="error">
                <p>{{ error }}</p>
           </div>
           <form [formGroup]="updateRaceForm" (ngSubmit)="onSubmitUpdate()">
              <div class="form-group">
              <label for="race_name">Race Name</label>
              <input 
                  type="text" 
                  id="race_name" 
                  class="form-control"
                  [formControlName]="'race_name'"
                  name="race_name">
              </div>
              <div class="form-group">
              <label for="race_fullname">Full Race Name</label>
              <input 
                  type="text" 
                  id="race_fullname" 
                  class="form-control"
                  [formControlName]="'race_fullname'"
                  name="race_fullname"
                  required>
            </div>
              <div class="form-group">
                <label for="type">Type</label>
                <input 
                    type="text" 
                    id="type" 
                    class="form-control"
                    [formControlName]="'type'"
                    name="type"
                    required>
              </div>
                <div class="form-group">
                    <label for="grade">Grade</label>
                    <input 
                        type="text" 
                        id="grade" 
                        class="form-control"
                        [formControlName]="'grade'"
                        name="grade"
                        required>
                </div>
                <div class="form-group">
                <label for="distance">Distance</label>
                <input 
                    type="text" 
                    id="distance" 
                    class="form-control"
                    [formControlName]="'distance'"
                    name="distance"
                    required>
                </div>
                <div class="form-group">
                  <label for="course">Course</label>
                  <input 
                      type="text" 
                      id="course" 
                      class="form-control"
                      [formControlName]="'course'"
                      name="course"
                      required>
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                  <input 
                      type="text" 
                      id="country" 
                      class="form-control"
                      [formControlName]="'country'"
                      name="country"
                      required>
                </div>
                <div class="form-group">
                  <label for="age_limit">Age Limit</label>
                  <input 
                      type="text" 
                      id="age_limit" 
                      class="form-control"
                      [formControlName]="'age_limit'"
                      name="age_limit"
                      required>
                </div>
                <div class="form-group">
                  <label for="attneded">Attended</label>
                  <input 
                      type="text" 
                      id="attended" 
                      class="form-control"
                      [formControlName]="'attended'"
                      name="attended"
                      required>
                </div>
                <div class="form-group">
                  Attended:
                  <label for="yes">
                    <input 
                      type="radio" 
                      id="yes"
                      class="attended-radio" 
                      value="true"
                      [formControlName]="'attended'"
                      name="attended">
                    Yes
                  </label>
                  <label for="no">
                    <input 
                    type="radio" 
                    id="no"
                    class="attended-radio"
                    value="false"
                    [formControlName]="'attended'"
                    name="attended">
                    No
                  </label>
                </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-info" type="submit" [disabled]="!updateRaceForm.valid">Update Race</button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>