<nav class="navbar navbar-expand-xl navbar-dark bg-dark navbar-default navbar-static-top">
  <a class="navbar-brand" href="#">National Hunt Racing</a>
  <button class="navbar-toggler" id="navButton" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click) = "closeMenu()" routerLink="/" *ngIf="isAuthenticated">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click) = "closeMenu()" routerLink="/horses" *ngIf="isAuthenticated">Horses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click) = "closeMenu()" routerLink="/races" *ngIf="isAuthenticated">Races</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click) = "closeMenu()" routerLink="/tracks" *ngIf="isAuthenticated">Tracks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click) = "closeMenu()" routerLink="/races/betvictor_gold_cup" *ngIf="isAuthenticated">Paddy Power Gold Cup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click) = "closeMenu()" routerLink="/races/greatwood_hurdle" *ngIf="isAuthenticated">Greatwood Hurdle</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="isAuthenticated" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cheltenham Day 1
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngFor="let race_ of races | slice:0:7; let i=index" routerLink="/races/{{race_.race_name}}" (click) = "closeMenu()">{{race_.race_fullname}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="isAuthenticated" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cheltenham Day 2
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngFor="let race_ of races | slice:7:14; let i=index" routerLink="/races/{{race_.race_name}}" (click) = "closeMenu()">{{race_.race_fullname}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="isAuthenticated" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cheltenham Day 3
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngFor="let race_ of races | slice:14:21; let i=index" routerLink="/races/{{race_.race_name}}" (click) = "closeMenu()">{{race_.race_fullname}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="isAuthenticated" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cheltenham Day 4
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngFor="let race_ of races | slice:21:28; let i=index" routerLink="/races/{{race_.race_name}}" (click) = "closeMenu()">{{race_.race_fullname}}</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated">
          <button data-toggle="modal" data-target="#infoModalCenter" (click) = "closeMenu()"><i class="fa fa-info"></i></button>
        </a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isAuthenticated" routerLink="/login" (click) = "closeMenu()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" (click)="onLogOut()" (click) = "closeMenu()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="container" id="main-container">
  <router-outlet></router-outlet>
</main>

<!-- Info Modal -->
<div class="modal fade" id="infoModalCenter" tabindex="-1" role="dialog" aria-labelledby="infoModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="infoModalCenterTitle">Site Information</h2>
        <button type="button" class="close" #closeNoteUpdate data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <app-info></app-info>
      </div>
    </div>
  </div>
</div>