<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-default navbar-static-top">
  <a class="navbar-brand" href="#">National Hunt Racing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" *ngIf="isAuthenticated">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/horses" *ngIf="isAuthenticated">Horses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/races" *ngIf="isAuthenticated">Races</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" *ngIf="!isAuthenticated" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="isAuthenticated" (click)="onLogOut()">Logout</a>
          </li>
    </ul>
  </div>
</nav>
<main role="main" class="container">
  <router-outlet></router-outlet>
</main>