<form>
    <div class="row align-items-center">
      <div class="form-group form-inline entries-search col-sm">
        Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div>
    <div class="col-sm"><button class="btn btn-primary float-right" routerLink="/addentry/{{race_name}}">Add Entry</button></div>
    </div>
    
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" sortable="number" (sort)="onSort($event)">No</th>
            <th scope="col" sortable="horse_name" (sort)="onSort($event)">Horse</th>
            <th scope="col" sortable="weight" (sort)="onSort($event)">Weight</th>
            <th scope="col" sortable="jockey" (sort)="onSort($event)">Jockey</th>
            <th scope="col" sortable="bred" (sort)="onSort($event)">Bred</th>
            <th scope="col" sortable="sire" (sort)="onSort($event)">Sire</th>
            <th scope="col" sortable="form" (sort)="onSort($event)">Form</th>
            <th scope="col" sortable="races" (sort)="onSort($event)">Races</th>
            <th scope="col" sortable="wins" (sort)="onSort($event)">Wins</th>
            <th scope="col" sortable="places" (sort)="onSort($event)">Places</th>
            <th scope="col" sortable="win_percentage" (sort)="onSort($event)">Win %</th>
            <th scope="col" sortable="place_percentage" (sort)="onSort($event)">Place %</th>
            <th scope="col" sortable="ground" (sort)="onSort($event)">Ground</th>
            <th scope="col" sortable="comments" (sort)="onSort($event)">Comments</th>
            <th scope="col" sortable="trends" (sort)="onSort($event)">Trends</th>
            <th scope="col" sortable="tipped" (sort)="onSort($event)">Tipped</th>
            <th scope="col" sortable="bets" (sort)="onSort($event)">Bets</th> 
            <th scope="col">Update</th>        
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of entries$ | async">
            <td><ngb-highlight [result]="entry.number" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.horse_name" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.weight" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.jockey" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.bred" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.sire" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.form" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.races" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.wins" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.places" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.win_percentage" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.place_percentage" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.ground" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.comments" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.trends" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.tipped" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.bets" [term]="service.searchTerm"></ngb-highlight></td>
            <td><button class="btn btn-link" routerLink="/updateentry/{{race_name}}/{{entry.horse_name}}">Update</button></td>
          </tr>
        </tbody>
      </table>
  
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>
    
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="40">40 items per page</option>
          <option [ngValue]="60">60 items per page</option>
        </select>
      </div>
  
  </form>