.horse-name {
    text-align: left;
}

.entries-link {
    font-size: 0.6rem;
}

.age-cell {
    text-align: center;
}


@media screen and (max-width: 1100px) {
    .horse-name {
        padding: 0;
    }

    .entries-link {
        padding: 0;
    }
}

.entries-link-cell {
    text-align: center;
}