<form>
    <div class="row align-items-center">
      <div class="form-group form-inline entries-search col-sm">
        Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div>
    <div class="col-sm"><button class="btn btn-primary float-right" routerLink="/addentry">Add Entry</button></div>
    </div>
    
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" sortable="horse_name" (sort)="onSort($event)">Horse Name</th>
            <th scope="col" sortable="number" (sort)="onSort($event)">Number</th>
            <th scope="col" sortable="weight" (sort)="onSort($event)">Weight</th>
            <th scope="col" sortable="jockey" (sort)="onSort($event)">Jockey</th>
            <th scope="col" sortable="trends" (sort)="onSort($event)">Trends</th>
            <th scope="col" sortable="tipped" (sort)="onSort($event)">Tipped</th>
            <th scope="col" sortable="bets" (sort)="onSort($event)">Bets</th>        
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of entries$ | async">
            <td><ngb-highlight [result]="entry.horse_name" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.number" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.weight" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.jockey" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.trends" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.tipped" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="entry.bets" [term]="service.searchTerm"></ngb-highlight></td>
          </tr>
        </tbody>
      </table>
  
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>
    
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="40">40 items per page</option>
          <option [ngValue]="60">60 items per page</option>
        </select>
      </div>
  
  </form>