
<form>
  <div class="row align-items-center">
    <div class="form-group form-inline horses-search col-sm">
      <input class="form-control" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>
  <div class="col-sm"><button class="btn btn-info float-right" routerLink="/addhorse">Add Horse</button></div>
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="table-responsive">
      <table *ngIf="!isLoading" class="table table-sm table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col" sortable="horse_name" (sort)="onSort($event)">Horse Name</th>
              <th class="d-none d-lg-table-cell" scope="col" sortable="trainer" (sort)="onSort($event)">Trainer</th>
              <th class="d-none d-lg-table-cell" scope="col" sortable="regular_jockey" (sort)="onSort($event)">Jockey</th>
              <th class="d-none d-lg-table-cell" scope="col" sortable="owner" (sort)="onSort($event)">Owner</th>
              <th class="d-none d-md-table-cell" scope="col" sortable="age" (sort)="onSort($event)">Age</th>
              <th class="d-none d-lg-table-cell" scope="col" sortable="gender" (sort)="onSort($event)">Gender</th>
              <th class="d-none d-md-table-cell" scope="col" sortable="sire" (sort)="onSort($event)">Sire</th>
              <th class="d-none d-md-table-cell" scope="col" sortable="form" (sort)="onSort($event)">Form</th>
              <th class="d-none d-lg-table-cell" scope="col" sortable="races" (sort)="onSort($event)">Races</th>
              <th class="d-none d-lg-table-cell" scope="col" sortable="wins" (sort)="onSort($event)">Wins</th>
              <th class="d-none d-lg-table-cell" scope="col" sortable="places" (sort)="onSort($event)">Places</th>
              <th class="d-none d-lg-table-cell" scope="col" sortable="win_percentage" (sort)="onSort($event)">W%</th>
              <th class="d-none d-lg-table-cell" scope="col" sortable="place_percentage" (sort)="onSort($event)">P%</th>
              <th class="d-none d-md-table-cell" scope="col" sortable="type" (sort)="onSort($event)">Type</th>
              <th class="d-none d-md-table-cell" scope="col" sortable="distance" (sort)="onSort($event)">Distance</th>
              <th scope="col" sortable="ground" (sort)="onSort($event)">Ground</th>
              <th class="d-none d-lg-table-cell" scope="col" sortable="track" (sort)="onSort($event)">Track</th>
              <th scope="col" sortable="comments" (sort)="onSort($event)">Comments</th>
              <th scope="col" class="update-heading">Update</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let horse of horses$ | async">
              <td>
                <a class="btn btn-link update-link horse-name" href="{{horse.link}}" target="_blank">
                  <ngb-highlight [result]="horse.horse_name" [term]="service.searchTerm"></ngb-highlight>
                </a>
              </td>
              <td class="d-none d-lg-table-cell"><ngb-highlight [result]="horse.trainer" [term]="service.searchTerm"></ngb-highlight></td>
              <td class="d-none d-lg-table-cell"><ngb-highlight [result]="horse.regular_jockey" [term]="service.searchTerm"></ngb-highlight></td>
              <td class="d-none d-lg-table-cell"><ngb-highlight [result]="horse.owner" [term]="service.searchTerm"></ngb-highlight></td>
              <td class="d-none d-md-table-cell"><ngb-highlight [result]="horse.age" [term]="service.searchTerm"></ngb-highlight></td>
              <td class="d-none d-lg-table-cell"><ngb-highlight [result]="horse.gender" [term]="service.searchTerm"></ngb-highlight></td>
              <td class="d-none d-md-table-cell"><ngb-highlight [result]="horse.sire" [term]="service.searchTerm"></ngb-highlight></td>
              <td class="d-none d-md-table-cell">{{horse.form}}</td>
              <td class="d-none d-lg-table-cell">{{horse.races}}</td>
              <td class="d-none d-lg-table-cell">{{horse.wins}}</td>
              <td class="d-none d-lg-table-cell">{{horse.places}}</td>
              <td class="d-none d-lg-table-cell"><ngb-highlight [result]="horse.win_percentage" [term]="service.searchTerm"></ngb-highlight></td>
              <td class="d-none d-lg-table-cell"><ngb-highlight [result]="horse.place_percentage" [term]="service.searchTerm"></ngb-highlight></td>
              <td class="d-none d-md-table-cell"><ngb-highlight [result]="horse.type" [term]="service.searchTerm"></ngb-highlight></td>
              <td class="d-none d-md-table-cell"><ngb-highlight [result]="horse.distance" [term]="service.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="horse.ground" [term]="service.searchTerm"></ngb-highlight></td>
              <td class="d-none d-lg-table-cell"><ngb-highlight [result]="horse.track" [term]="service.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="horse.comments" [term]="service.searchTerm"></ngb-highlight></td>
              <td><button class="btn btn-link update-link update-link" routerLink="/updatehorse/{{horse.horse_name}}"><i class="fa fa-edit"></i></button></td>
            </tr>
          </tbody>
        </table>
  </div>

    <div class="row d-flex justify-content-between p-2">
      <div class="md-6-col">
        <ngb-pagination
        [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
      </div>
      <div class="md-6-col">
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="40">40 items per page</option>
          <option [ngValue]="60">60 items per page</option>
          <option [ngValue]="100">100 items per page</option>
          <option [ngValue]="300">300 items per page</option>
        </select>
      </div>
    </div>

</form>