/* You can add global styles to this file, and also import other style files */
.content {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .table {
      margin-top: 30px;
      font-size: 10px;
  }

  .auth {
    margin-top: 30px;
}

th {
  cursor: pointer;
}

.btn.btn-link.horse-name {
  font-size: 0.8rem;
}

.table td, .table th {
  vertical-align: middle;
}